<!-- Navigation -->
<nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        {% include "theme/base/logo.html.twig" %}
        {% include "theme/base/navbar.html.twig" %}
     
    </div><!-- /.container -->
</nav>