<!-- Navigation -->
<nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        {% include  [('/theme/child2/logo.html.twig'), ('/theme/child1/logo.html.twig'),('/theme/base/logo.html.twig')] %}
        {% include  [('/theme/child2/navbar.html.twig'), ('/theme/child1/navbar.html.twig'),('/theme/base/navbar.html.twig')] %}
     
    </div><!-- /.container -->
</nav>